@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
 
main{
   padding: 20px;
   overflow: auto;
}

 h2, h3{
    color: #ffa500;
    font-size: 40;
 }

 p{
  font-size: 25;
 }

 article a{
  font-size: 18px;
   font-weight: 400 bold;
   text-decoration: underline;
   color: blue;
 }

 article a:hover{
  background-color: #157dec;
  font-weight: bold;
  color: red;
 }
 nav a{
   font-size: 18px;
   font-weight: 400 bold;
   text-decoration: none;
   color: #ffa500;
 }

 nav a:hover{
    font-weight: bold;
 }


 .profile header{
    text-align: center;
    
 }

 header{
   display: inline;
}

 footer{
    padding: 20px;
    color: #ffa500;
    background-color: #157dec;
    text-align: center;
    font-weight: bold;
 }

 .featured-image{
   width: 500px;
   object-fit: cover;
   object-position: 50%;
}

div.polaroid{
   width: 80%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 25px;
 }
 
 div.container{
   text-align: center;
   padding: 10px 20px;
 }

.profile img{
   width: 200px;
}

.flex-container{
  display: flex;
  /* Properti lainnya */
  width: 500px;
  margin-left: 0px;
}
.box{
  flex-grow: 1;
  /* properti lainnya */
  border-radius: 10px;
  padding:20px;
}

.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.jumbotron{
   padding: 20px;
   background-color:#ffffff;
   background-image: url(popo.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   text-align: center;
   font-size: 25px;

}

.posisi{
   margin-left: 40%;
}

nav li{
   display: inline;
   list-style-type: none;
   margin-right: 20px;
   
 }

 nav{
   background-color: #157dec;
   padding: 5px;
   position: sticky;
   top: 0;
   
 }

 #content{
   float: left;
   width: 75%;
 }

 .aside-right{
   float: right;
   width: 25%;
   padding-left: 20px;
 }

 *{
   box-sizing: border-box;
 }

 @media screen and (max-width: 1000px){
   #content,
   aside{
     width: 100%;
     padding: 0;
   }
 }